.js--modal {
  z-index: 10000;
  &.image-gallery--modal {
    .modal--close {
      width: auto;
      .unitize(font-size, 16);
      padding: 0px 20px !important;
    }
    .image--gallery {
      .image-slider--container {
        .button--zoom-in,
        .button--zoom-out,
        .button--zoom-reset {
          padding: 0px 15px !important;
        }
        .button--zoom-reset {
          left: 4.5rem;
        }
        .button--zoom-in {
          left: 8.35rem;
        }
        .arrow {
          font-size: 2rem;
          padding: 0px 30px;
        }
      }
    }
  }
}