.jj--sticky-element,
.jj--sticky-element-detail {
  &.affix-top {
    display: block;
    //position: absolute;
  }
  &.affix {
    display: block;
    @media screen and (min-width: @tabletLandscapeViewportWidth) {
      position: fixed !important;
    }
    // z-index: 9999;
    /*.product--buybox {
      right: 15px !important;
    }*/
  }
  &.affix-bottom {
    display: block;
    //position: absolute;
  }
}

.is--ctl-listing {
  .jj--sticky-element,
  .jj--sticky-element-detail {
    z-index: 9000;
  }
}


/*
.jj--sticky-stop {
  position: absolute;
  bottom: 0px;
}*/
