.content--checkout {
	width: 100%;
	max-width: 800px;
	margin: 0px auto 0px;
	display: block;
	float: none;
	h1 {
		text-align: center;
		text-transform: uppercase;
		font-weight: 300;
		color: @gray;
	}
	@media screen and (min-width: @tabletViewportWidth) {
		margin: 80px auto 0px;
	}
}

.product--table {
	.panel--body {
		border: 0;
		padding: 0px;
		.table--header {
			margin: 0;
			.panel--th {
				text-transform: uppercase;
				font-weight: 300;
				letter-spacing: 1px;
				.unitize(font-size, 14);
			}
		}
		.table--tr {
			.column--actions {
				float: left;
				padding: 0 20px 0 0;
				text-align: left;
				.column--actions-link {
					border: 0;
					padding: 10px !important;
					.unitize(font-size, 20);
					&:hover {
						background-color: transparent;
						color: @brand-primary;
					}
				}
			}
			.column--image {
				.table--media {
					.table--media-outer {
						border: 0;
						img {
							padding: 0;
						}
					}
				}
			}
		}
		.basket--footer {
			border: 0;
			background-color: transparent;
		}
	}
	.add-product--field,
	.add-voucher--field {
		border-radius: 0;
		height: 40px;
		width: 80%;
	}
	.add-product--button,
	.add-voucher--button {
		height: 38px;
		width: 10%;
		padding: 0px 20px !important;
		border-radius: 0;
	}
	.table--shipping-costs .js--fancy-select {
		height: 50px !important;
	}
	.column--quantity {
		.js--fancy-select {
			min-width: 40px;
			max-width: 40px;
		}
	}
	.column--quantity,
	.column--unit-price,
	.column--total-price,
	.column--tax-price,
	.column--shippingtime {
		margin-left: 0;
	}
	@media screen and (max-width: @tabletViewportWidth) {
		.column--quantity,
		.column--unit-price,
		.column--total-price,
		.column--tax-price,
		.column--shippingtime,
		.column--product {
			margin-left: 0;
			width: 100%;
			padding: 0px;
		}
		.column--actions {
			text-align: right !important;
			padding: 0 !important;
		}
		.column--product .column--image {
			padding: 0;
		}
	}
	@media screen and (min-width: @tabletViewportWidth) {
		.table--header {
			.column--shippingtime {
				width: 15%;
			}
			.column--product {
				width: 40%;
			}
			.column--total-price {
				float: right;
			}
		}
		.table--tr {
			.column--total-price {
				float: right;
			}
			.column--shippingtime {
				width: 15%;
				padding-top: 30px !important;
			}
			.column--product {
				width: 40%;
				.column--image {
					width: 20%;
				}
				.table--content {
					width: 68%;
				}
			}
			.column--quantity {
				padding-top: 22px !important;
			}
			.column--actions {
				width: 12%;
				padding-top: 15px !important;
			}
			.column--unit-price,
			.column--total-price {
				padding-top: 22px !important;
			}
		}
		.aggregation--list,
		.table--aggregation {
			padding-right: 20px;
		}
	}
}

.product--table .row--premium-product .column--total-price,
.product--table .row--rebate .column--total-price {
	float: right;
}

.product--table .basket--badge {
	line-height: 48px;
	line-height: 3rem;
	font-size: 16px;
	font-size: 1rem;
	-webkit-border-radius: 128px;
	-moz-border-radius: 128px;
	border-radius: 0;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	height: 48px;
	height: 3rem;
	width: 48px;
	width: 3rem;
	margin: 0 auto;
	text-align: left;
	font-weight: 300;
	background: none;
	color: #a0a0a0;
}

.product--table .content--title {font-weight: 300; letter-spacing: 1px; line-height: 100%;}
.product--table .is--no-star {margin-left: 0 !important;}

.table--aggregation,
.product--table .table--aggregation {
	background-color: transparent;
	border: 0;
}
.aggregation--list {
	background-color: transparent;
	border: 0;
	li {
		text-transform: uppercase;
		padding: 10px;
		border-bottom: 1px solid @gray-light;
	}
	@media screen and (max-width: @tabletViewportWidth) {
		padding-left: 10px;
		padding-right: 10px;
		li {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.confirm--content .product--table .basket--footer {background-color: transparent;}

.product--table .column--quantity .js--fancy-select {
	border-radius: 0;
	background: none;
	text-align: center;
	height: 40px;
	width: 40px;
	font-weight: normal;
	border: 1px solid @gray;
	.js--fancy-select-text {
		width: 40px;
		height: 40px;
		line-height: 40px;
		.unitize(font-size, 20);
		font-weight: normal;
		display: inline-block;
		vertical-align: baseline;
		text-indent: 2px;
		color: @gray;
	}
	.js--fancy-select-trigger {
		border: 0;
		display: none;
		i {
			display: none;
		}
	}
}

.steps--container {
	.steps--content {
		border: 0;
		padding: 20px;
		.steps--list {
			.flex-display();
			.align-items(stretch);
			.steps--entry  {
				.flex(1 1 auto);
				display: inline-block;
				padding: 0;
				text-align: center;
				&:first-child {
					text-align: left;
				}
				&:last-child {
					text-align: right;
				}
				.icon {
					display: none;
				}
				.text {
					text-transform: uppercase;
					font-weight: 300;
					color: @text-color;
					display: inline-block;
					height: auto;
					margin: 0;
					width: auto;
				}
				&.is--active {
					.text {
						color: @brand-primary;
						border-bottom: 1px solid @brand-primary;
					}
				}
				&.steps--spacer {
					display: none;
				}
			}
		}
	}
}



.panel--actions.is--wide {
	padding: 20px 0;
}

.confirm--content .product--table .basket--footer .aggregation--list {
	padding: 20px;
}

.product--table .paypal-express--container:first-child {display: none;}
div.amazon_button_cart_action.amazon_vs_paypal:first-child {display: none !important;}

div.amazon_button_cart_action.amazon_vs_paypal {
  float: none !important;
  height: 45px;
  display: block;
  margin: -50px 0px 0px 0px;
  margin: 0;
  text-align: center;
  img {
		margin: 0 auto;
		float: none;
  }
}

.paypal-express--container {
  float: none;
  width: 100%;
  text-align: center;
  .paypal-express {
    float: none;
    margin: 0 auto;
    text-align: center;
    .paypal-express--btn {
	    width: 170px;
	    width: 10.625rem;
	    height: 32px;
	    height: 2rem;
	    display: block;
	    float: none;
	    margin: 0 auto;
	    img {
		    display: block;
		    max-width: 100%;
		    max-height: 100%;
		    height: auto;
		    margin: 0 auto;
			}
		}
	}
}