.footer-main {
	border: 0;
	padding-top: 40px;

	.jj--footer-newsletter {
		text-align: center;
		.column--content {
			display: block !important;
			p {
				margin-bottom: 10px;
				.unitize(font-size, 14);
			}
			.newsletter--form {
				width: 320px;
				max-width: 90%;
				margin: 0px auto;
				.newsletter--field,
				.newsletter--button {
					border-radius: 0px;
					background: none;
					background-color: #fff;
					box-shadow: none;
					height: 50px;
					padding: 0px 20px !important;
					i {
						font-size: 18px;
					}
					&:hover {
						color: @brand-primary;
					}
				}
				.newsletter--field{
					width: 80%;
				}
				.newsletter--button {
					width: 60px;
				}
			}
		}
	}

	.jj--footer-menu {
		margin: 20px auto 0px;
		nav {
			ul {
				text-align: center;
				li {
					display: inline-block;
					@media screen and (max-width: @tabletViewportWidth) {
						display: block;
					} 
					a {
						text-transform: uppercase;
						padding: 10px 30px !important;
						color: @gray;
						.unitize(font-size, 14);
					}
				}
			}
		}
	}

	.footer--bottom {
		padding: 20px;
		text-align: left;
		color: @gray;
		.unitize(font-size, 10);
		position: relative;
		.jj--footer-social-media {
			width: 100px;
			text-align: center;
			position: absolute;
			top: 20px;
			left: 50%;
			margin-left: -50px;
			a {
				padding: 5px;
				.unitize(font-size, 20);
				color: @gray;
				&:hover {
					color: @brand-primary;
				}
			}
			@media screen and (max-width: @tabletViewportWidth) {
				text-align: right;
				top: 15px;
				right: 10px;
				left: auto;
				margin-left: 0;
			}
		}
	}

	.is--ctl-listing & {
		padding-bottom: 60px;
	}

}

.footer-minimal {
	padding: 20px;
	text-align: left;
	color: @gray;
	position: relative;
	border-top: 1px solid @gray;

	.footer--service-menu {
		float: right;
		.service--list {
			.service--link {
				padding: 0;
				text-transform: uppercase;
				color: @gray;
			}
		}
	}
}