.jj--home-tab-navigation {
	.panel {
		border: 0 !important;
		ul {
			text-align: center !important;
			margin: 20px auto !important;
			li {
				display: inline-block !important;
				margin: 0px 20px !important;
				padding: 20px !important;
				text-transform: uppercase !important;
				cursor: pointer !important;
				letter-spacing: 1px !important;
				color: @gray !important;
				&:hover {
					color: @brand-primary !important;
					text-decoration: underline !important;
				}
				&.active {
					color: @brand-primary !important;
					text-decoration: underline !important;
				}
			}
		}
	}
}

.jj--home-tab-text-container {
	.panel {
	}
}