.register--login {
  width: 100%;
  padding: 20px;
  float: none;
  margin: 20px auto;
  @media screen and (min-width: @tabletViewportWidth) {
    width: 50%;
    margin: 100px auto;
  }
}

.register--content {
  width: 100%;
  float: none;
  display: block;
  margin: 20px auto;
  padding: 20px;

  .js--fancy-select {
    width: 100%;
  }

  .register--action {
    .register--submit {
      width: 100%;
    }
  }

  @media screen and (min-width: @tabletViewportWidth) {
    width: 50%;
    margin: 100px auto;
  }
}

.jj--open-register {
  display: block;
  margin: 10px 0px;
}